---
layout: default
title: searchable menu alpine version
img_Path: https://picsum.photos/id/1025/600/400
menu:
  - category_name: cakes
    description: fun fluffy cakes
    dishes:
      - name: carrot cakes
        description: a fun cake made of carrot
        img_path: https://picsum.photos/id/1060/600/400
        price: 10
        extras:
          - name: icing
            price: 5
          - name: gluten free 
            price: 5
      - name: black forest
        description: a rich dark cake
        img_path: https://picsum.photos/id/1060/600/400
        price: 25
  - category_name: pies
    description: fun decadent pies
    dishes:
      - name: apple pie
        description: a fun pie made with apples
        img_path: https://picsum.photos/id/1060/600/400
        price: 10
        extras:
        - name: icing
          price: 5
        - name: gluten free
          price: 5
      - name: pecan pie
        description: a rich pecan based pie
        img_path: https://picsum.photos/id/1060/600/400
        price: 25

---

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.1/dist/cdn.min.js"></script>

<div x-data="{search: ''}">
  <section class="center">
    <h2 >Menu</h2>
    <p>care to search?
      <span x-text="search"></span>
    </p>
    <input type="text" class="searchBar" x-model="search">

  </section>
  <section class="grid-1 padded-2">
    {% for cat in page.menu %}
    <div class="cat-div border padded-2 margin-b-2" x-show="`{{cat.category_name}} {{cat.description}} 
    {% for dish in cat.dishes %} {{dish.name}} {{dish.description}} 
    {% for extra in dish.extras %}	{{extra.name}} {% endfor %} 
    {% endfor %}`.includes(search)">

        <div class="padded center">
          <h3>{{cat.category_name}}</h3>
          <p >{{cat.description}}</p>
          
        </div>
        {% for dish in cat.dishes %}
        <div class="grid-5 dish-div padded-2 border margin-b-2" x-show="`{{dish.name}} {{dish.description}} 
        {% for extra in dish.extras %}	{{extra.name}} {% endfor %}`.includes(search)">
        <div class="col-w-4">
          <h4>{{dish.name}}</h4>
          <p>{{dish.description}}</p>
          <!-- <div class="center"><img src="{{dish.img_path}}" alt="{{dish.name}}"></div> -->
          {% if dish.extras %}
          <p>Extras</p>
          {% endif %}
        </div>
        <div class="right">${{dish.price}}</div>
        {% for extra in dish.extras %}
        <div class="col-w-4 padded-l">
          <p>{{extra.name}}</p>
        </div>
        <div class="right p-r">+${{extra.price}}</div>
        {% endfor %}
      </div>
      {% endfor %}
    
  </div>
    {% endfor %}
    <div class="center hidden sorryMessege">
      <h2>Sorry looks like we cant help with that</h2>
    </div>
  </section>

</div>

<!-- <script>
  
  // Search for a property
  
  const SearchBar = document.querySelector('.searchBar');
        const menuCats = document.querySelectorAll('.cat-div');
        const menuItem = document.querySelectorAll('.dish-div');
        const sorryMessege = document.querySelector('.sorryMessege') 
        let nothingFound = true

        function searching() {
          nothingFound = true
            let target = SearchBar.value.toLowerCase()
            console.log(target)
            menuItem.forEach(dish => {
                // console.log(link)
                // console.log(link.textContent)
                if (dish.dataset.searchTerms.toLowerCase().includes(target)) {
                    dish.style.display = 'grid'
                    nothingFound = false;
                } else {
                    dish.style.display = 'none';
                }
            });

            menuCats.forEach(cat => {
                // console.log(link.dataset.subLinks)
                // console.log(link.textContent)
                if (cat.dataset.searchTerms.includes(target)) {
                  cat.style.display = 'block'
                  nothingFound = false;
                }
                else {
                    cat.style.display = 'none';
                }
            });
            console.log(nothingFound)
            if (nothingFound == true) {
              sorryMessege.classList.remove('hidden')
            } else {
              sorryMessege.classList.add('hidden')
            };
        }

        function sidebarToggle() {
            sidebar.classList.toggle('active')
        }

        SearchBar.addEventListener('input', searching);
        mobile_menu_button.addEventListener('click', sidebarToggle);
    

</script> -->