---
layout: default
title: ticker banner with variable speed
banner_message: 
  - text: home
    url: /index
  - text: blog
    url: /blog
  - text: one really long non link
    url: /temp
  - url: bob
banner_message_2: 
  - text: home
    url: /index
  - text: blog
    url: /blog
  - text: one really
    url: /temp
  - url: bob
    text: dan was here
---


<div class="tickerBanner" data-banner-speed="50">
  {% for message in page.banner_message %}
    <a href="{{message.url}}" class="text-block">{{message.text}}</a>
    {% endfor %}
</div>
<div class="tickerBanner" data-banner-speed="100">
  {% for message in page.banner_message_2 %}
    <a href="{{message.url}}" class="text-block">{{message.text}}</a>
    {% endfor %}
</div>


<style>


.tickerBanner{
  --bannerBlockLength: 280px;
  --bannerBlockTime: 2s;
overflow-X: hidden;
display: flex;
flex-direction: row-reverse;
text-align: center;
}


.tickerBanner > * {
  display: inline-block;
  padding: 1vw;
  flex-shrink: 0;
  position: relative;
}

.tickerBanner.active:hover > *{
  animation-play-state: paused;
}
.tickerBanner.active > * {
  animation: ticker 2s infinite linear;
  animation-duration: var(--bannerBlockTime), 2s;
} 

@keyframes ticker {
    from {left:0}
    to   {left:var(--bannerBlockLength)}
}
</style>


<script>
  const tickerBanners = document.querySelectorAll('.tickerBanner');

tickerBanners.forEach(banner => {



  let textBlock = banner.querySelectorAll('.text-block');

  console.log(textBlock[1].offsetWidth)

  let bannerBlock = 0;
  textBlock.forEach( block => {
    bannerBlock += block.offsetWidth
  });

  let bannerLength = bannerBlock
  console.log(bannerBlock)
  console.log(banner.dataset.bannerSpeed)
  
  
  banner.style.setProperty('--bannerBlockLength', `${bannerBlock}px`);
  banner.style.setProperty('--bannerBlockTime', `${(bannerBlock / banner.dataset.bannerSpeed )}s`);

  
  function extendBanner() {
  if (bannerLength < (screen.width + bannerBlock) ) {
    textBlock.forEach(block => {
    console.log(block.innerHTML)
    // add the newly created element and its content into the DOM
    banner.appendChild(block.cloneNode(true));
    // banner.querySelector('a:last-child').innerHTML = block.innerHTML
    // banner.querySelector('a:last-child').href = block.href
      
    });
    bannerLength += bannerBlock;
    console.log(bannerLength) 
    extendBanner()
  } else {
    banner.classList.add('active')
  }
}



  extendBanner()

  console.log(bannerLength)

})

</script>