---
layout: default
thing:
category: prime
---


<h2>
    all post
</h2>
    {% for post in site.posts %}
        <a href="{{post.url}}">
            {{post.title}}
        </a>
    {% endfor %}
    
    <h2>prime</h2>
    {% for post in site.categories[page.category] %}
    <a href="{{post.url}}">
        {{post.title}}
    </a>
    {% endfor %}

    <h2>even</h2>
    {% for post in site.categories["even"] %}
    <a href="{{post.url}}">
        {{post.title}}
    </a>
    {% endfor %}

    <h2>odd</h2>
    {% for post in site.categories["odd"] %}
    <a href="{{post.url}}">
        {{post.title}}
    </a>
    {% endfor %}

