<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/gridmk1.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="" type="css">
    <!-- <link rel="stylesheet" href="prism.css"> -->
    <title>
    {% if page.title %}
      {{page.title}}
    {% else %}
     {{site.data.nav.def_title}}
    {% endif %}
    </title>
</head>


<body>
    <style>
        :root {
            --headings: {{site.data.color.headings}};
            --para:  {{site.data.color.paragraph}};
            --bgDark: {{site.data.color.Dark_backgroundg}};
            --white: #ffffff;
        }

    
        h1,h2,h3 {
            color: var(--headings)
        }
        .min-height-100 {
          min-height: 100vh;
        }
    </style>
    <header>
        <nav>
            <a href="/">home</a>
            <a href="/blog">blog</a>
            <a href="/blog-exclusive.html">blog 2</a>
            <a href="/blog-exclusive-with-limits.html">blog 3</a> 
            <a href="/todo">to do</a>
            {% unless page.hideSearchbar == true %}
                <input id="searchBox" type="text">
                <a class="button searchButton" >search</a>
            {% endunless %}
        </nav>
    </header>
            {% unless page.hideSearchbar == true %}
<script>
    const searchBox = document.querySelector("#searchBox");
    const searchLink = document.querySelector(".searchButton")

    function updateSearch() {
        var searchValue = searchBox.value;
        searchLink.href = `/search?${searchValue}`
    }
    
    function searchNow(e) {
        console.log(e)
            if (e.key === 'Enter' || e.keyCode === 13) {
            // Do something
            var searchValue = searchBox.value;
            window.location = "/search?" + searchValue;
            }
        }

    searchBox.addEventListener("change", updateSearch)
    searchBox.addEventListener("keyup", searchNow)
    
</script>
{% endunless %}

{% comment %}
{% unless page.layout == products %}
<script type="text/javascript">
    /*<![CDATA[*/
    (function () {
      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
      if (window.ShopifyBuy) {
        if (window.ShopifyBuy.UI) {
          ShopifyBuyInit();
        } else {
          loadScript();
        }
      } else {
        loadScript();
      }
      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }
      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'retreateexample.myshopify.com',
          storefrontAccessToken: 'e3c45df84d904d2f08d265d059d677d2',
        });
        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            moneyFormat: '%24%7B%7Bamount%7D%7D',
            options: {
              "toggle": {}
            },
          });
        });
      }
    })();
/*]]>*/
</script>



<img src="{{thing.icon-image}}" alt="{{thing.icon-alt}}"
  data-aos="fade-right"
  data-aos-offset="{{thing.animation-delay}}"
>
<p>{{thing.text}}</p>


{% endunless %}


{% endcomment %}


    {{content}}

</body>

</html>

